@{
    ViewBag.Title = "Usuario Actualizado";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="links">
            <a asp-controller="Dashboard" asp-action="Index">Inicio</a>
            <a asp-controller="Usuarios" asp-action="Create">Crear nuevo usuario</a>
        </div>

        <section>
            <h1>Se ha actualizado con éxito el usuario</h1>

            <div class="boton-accion">
                <button><a asp-controller="Usuarios" asp-action="Index">Ver listado de usuarios</a></button>
            </div>
        </section>
    </div>
</body>

</html>