@{
  ViewBag.Title = "Dashboard";
}

<div class="main">

  <div class="contenedor">
      <h1>Bienvenidos a mi página web</h1>
  </div>

  <div class="buttons">
      <button><a asp-controller="Products" asp-action="Index">Gestión de productos</a></button>
      <button> <a asp-controller="" asp-action="Index">Regístrate</a></button>
      <button><a asp-controller="Usuarios" asp-action="Index">Gestión de usuarios</a></button>
  </div>
  
</div>
